@import url('https://use.typekit.net/are2yai.css');

@font-face {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: lazer84;
  font-weight: 400;
  font-style: normal;
  src: url('../Lazer84.ttf');
}

@font-face {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: italic;
}