@import 'fonts';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
  border: 3px solid #FF6EC7;
  box-shadow: 1px 1px 10px #fff;
  border-radius: 15px;
  background-color: rgba(#000, 0.5);

  h1 {
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 768px) {
    align-items: flex-start;
  }
}

.title {
  font-family: lazer84, serif;
  color: lighten(#00FFFF, 45%);
  -webkit-text-stroke: 3px #00FFFF;
  text-shadow: 1px 1px 10px #fff;
  text-decoration: none;
}

.nav-link {
  font-family: lazer84, serif;
  text-decoration: none;
  color: lighten(#00FFFF, 45%);
  -webkit-text-stroke: 1px #00FFFF;
  text-shadow: 1px 1px 10px #fff;


  &:hover {
    color: #999;
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.nav-item {
  list-style: none;
  font-size: 1.2rem;
  margin-right: 1.3rem;
}

.active-nav-link {
  color: #333;
}