@import 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cooper-black-std, serif;
}

body {
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

h1 {
  font-family: lazer84, serif;
  color: lighten(#00FFFF, 45%);
  -webkit-text-stroke: 3px #00FFFF;
  text-shadow: 1px 1px 10px #fff;
}